.navHeader{
  // background: #294E80!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 24px!important;
  background: #fff!important;

  .logo {
    font-size: 40px;
    color: #eee!important;
  }
  .headerRight{
    display: flex;
    align-items: center;
    .userName{
      color: #666;
      font-size: 20px;
      margin-right: 10px;
    }
  }
}