@import url('../../style/variable.less');

.formWrapper {
  margin: 4px 0 16px;
  .searchForm {
    border-radius: 6px;
    padding: 20px 30px 0;
    background: #fff;
    box-shadow: @box-shadow;
    .operBtn{
      margin-bottom: 20px;
      .btn{
        margin: 0 8px;
      }
    }
  }
}
