.wrapper{
  background: #fff;
  padding-bottom: 30px;
  .header{
    padding: 4px 10px;
    border-bottom: 1px solid #e5e5e5;
  }
  .main{
    width: 800px;
    margin: 20px auto;
  }
  .footer{
    width: 200px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
  }
}