#loading-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.ant-layout{
  height: calc(100vh - 70px);
}

.ant-form-item-control-input-content .ant-input-affix-wrapper{
  line-height: 1;
}

.ml-10{
  margin-left: 10px;
}

.mr-10{
  margin-right: 10px;
}

.ml-20{
  margin-left: 20px;
}

.mr-20{
  margin-right: 20px;
}