@import url('../style/variable.less');

.layoutContent{
  height: 100vh;
  display: flex;
  overflow: hidden;
  :global(.ant-card){
    border-radius: 6px;
    box-shadow: @box-shadow;
  }
  .siderBar{
    box-shadow: @box-shadow;
    .logo{
      height: 60px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eee;
      background-color: #fff;
      .logoImg{
        width: auto;
        height: 34px;
        margin-left: 20px;
      }
    }
  }
  .contentBox{
    overflow-y: auto;
    background-color: #f7f8fa;
    .content{
      margin: 0;
      padding: 0 20px 20px;
    }
  }
}